.app {
    margin: 0 auto;
    max-width: 1000px;
  }


@media (max-width: 1200px) {
    .app {
        padding: 0 32px;
    }
}

@media (max-width: 767px) {
    .app {
        padding: 0 16px;
    }
}
